<!DOCTYPE html>
<html lang="en" class="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keyo Lite</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <div class="flex-box">
        <a href="/">
            <img src="https://lh3.googleusercontent.com/VqVgWvESFdWucAu1fYLD51OZDSJFrzSYxyU_LOaQVbeqknRcLRlRjjiDkK8TNMgpRSg=s360" alt="">
        </a>
        <div class="door">
            <input placeholder="Search the animes" type="text" name="" id="">
            <div style="display: none;" class="flex-box-items">

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="cc">
            @AnimeKeyo
        </div>
        <div class="title">
            |
        </div>
        <div class="cc">
            No ads & No crypto mining!!
        </div>
    </div>
    <script>
        async function run(val, limit, type) {
            const apply = $('.flex-box-items');
            const data = await fetch('https://anime.animekeyo.com/search?q=' + val).then(o => o.json());

            $(document).on('click', '.item', function() {
                window.location.href = '/anime/' + $(this).attr('id');
            })
            data.forEach(e => {
                // console.log(e.title)
                if ($('[id="' + e.id + '"]').length) {

                } else {
                    const theme = `
                       <div id="${e.id}" class="item">
                        <div class="cover">
                            <div class="poster" style="background-image:url(https://images.weserv.nl/?url=anime.animekeyo.com/cover/${e.cover}&w=50)"></div>
                        </div>
                        <div class="details">
                        <div class="title">
                        ${e.title}
                        </div>
                        <div class="episodes">
                             ${e.type} - Episodes ${e.episodes}
                        </div>
                        </div>
                       
                        </div>`;
                    apply.prepend(theme).show();
                }

            });


        }


        run('sword', 10, 'no')
        $('input').on('input', function() {
            const apply = $('.flex-box-items');
            if ($(this).val() === '') {
                apply.hide()
            } else {
                apply.hide();
                apply.empty();
                run($(this).val(), 5, 'no')
                fetch('https://anime.animekeyo.com/?q=' + $(this).val() + '&limit=5')
                    .then(o => o.json())
                    .then((json) => {});
            }

        });
    </script>
</body>

</html>